In [ ]:
#| hide
from adviz.value_counts_plus import *

# adviz

> `ad`vertools `vis`ualizations: `adviz`

> Various charts that might be useful in your workflow while using `advertools` or other packages as well.

Get startd quickly and see exmaples below

## Install

```sh
pip install adviz
```

## How to use

Count unique values in a list of items

In [ ]:
value_counts_plus(list('aaaaaaaaabbbbcccddddddddddeeeeeeeeeeeeffffggghhhiijjjjkkkllllmmmmmmmnnooop'))